@font-face {
  font-family: sora;
  src: url(/static/fonts/Sora_font.ttf);
}
@font-face {
  font-family: oswald;
  src: url(/static/fonts/Oswald_font.ttf);
}
@font-face {
  font-family: anton;
  src: url(/static/fonts/Anton_font.ttf);
}
@font-face {
  font-family: ubuntu;
  src: url(/static/fonts/Ubuntu_font.ttf);
}
@font-face {
  font-family: sfui-regular;
  src: url(/static/fonts/SFUIText-Regular.otf);
}

* {
  font-family: sora;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* global variables */
:root {
  /* --mainColor: #79b3d2;
  --lightColor: #b7d6e7;
  --darkColor: #4797c1;
  --gray: #c0c0c0;
  --relatedColor: #e2725b */

  --mainColor: #347f6d ;
  --lightColor: #419f88;
  --veryLightColor: #a4cfc2;
  --hintColor: #dde9e542;
  --darkColor: #2a6657;
  --veryDarkColor:#192c26;
  --gray: #5a5a5a;
  --lightGray: #e1e2e1;
  --relatedRed: #cd5c5c;
  --messageBlue: #abbcfe;
  --messageGray: #c5c5c8;

}
body {
  overflow: hidden !important;
}
/* located in baseblocks.html */
#page_wrapper {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: white;
  
}

#logo-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 45px;
    z-index: 1;
    position: relative;

}
#logo-background {
background: linear-gradient(to top, #dde9e5, #dde9e5 15%, #48b494 68.07%, #2faa8c);
width: 200vw;
height: 55vh;
position: absolute;
top: 0;
transform: rotate(20deg) translate(-24vw);
}
#navbar-container {
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    z-index: 100;
    bottom: -1px;
}

#navbar-spacer {
  height: 75px;
  width: 100%;

}

#navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
}

/* placeholder */
#navbar-logo {
  margin-top: 2px;
}
svg {
  width: 70vw;
  height: 42px;
}

#svgGroup {
  stroke: #898989;
  stroke-width: 0.25mm;
  fill: #898989;
}
#logo-cursor {
  stroke: black;
  fill: black;
}
.logo-braces {
  stroke: rgb(137 137 137);
  fill: rgb(137 137 137);
  position: relative;
  opacity: 0;
}
.logo-parenthesis {
  stroke: var(--darkColor);
  fill: var(--darkColor);
  opacity: 0;
}
.logo-letter {
  /* stroke: var(--darkColor);
  fill: var(--darkColor); */
  fill: white;
  stroke: white;
  opacity: 0;
}

#navbar-link-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: flex-end;
  padding-top: 10px;
  box-shadow: rgb(147 147 147) 0 2px 4px;
  border-top: 1px solid #c6c6c6;
  background-color: white;
}

#navbar-link-container.show {
  transform: translate(0);
}
.navbar-link-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    user-select: none;
    cursor: pointer;
    position: relative;
    transition: margin 0.5s ease;
    will-change: margin;
    margin: 0px 0px 10px 0;
}

.navbar-icon {
    display: block;
    width: 30px;
    height: auto;
    margin-bottom: 2px;
    fill: #009073;
}

.navbar-link-label {
  font-size: 10px;
  user-select: none;
  color: #009073;
  opacity: 1;
  transition: opacity 0.5s;
}
.navbar-link-label.active {
  opacity: 0;
}

.active-view-dot {
    width: 5px;
    height: 5px;
    background-color: #009073;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.5s;
    position: absolute;
    top: 35px;
}
.active-view-dot.active{
  opacity: 1;
}



.block-content {
    width: 100vw;
    
    display: flex;
    flex-wrap: wrap;
    
}

.inline-link {
    color: var(--darkColor);
    text-decoration: underline;
    cursor: pointer;
}
.inline-link:hover {
    color: var(--lightColor);
}

.web-service-svg-gear {
        transform: rotateZ(72deg);
        transform-origin: 337px 308px;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    svg {
        width: 370px;
        height: 42px;
    }

  #navbar-link-container {
    flex-direction: row;
    background: none;
    position: relative;
    transform: translate(0);
    top: 0px;
    background-color: white;
  }
  #navbar-burger {
    display: none;
  }
  .navbar-link-div {
    height: 72px;
    align-self: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 0px 5px;
    transition: none;
  }
  .navbar-link-div:hover {
    background: #dae4e1;
    background: linear-gradient(      0deg,   white 15% ,   #dae4e1 75%,  var(--veryLightColor) 100%    );
    cursor: default;
  }


  .navbar-link-div:hover .navbar-sub-link-div {
    display: flex;
    opacity: 1;
  }

  .expandable-arrow {
    top: 54px;
  }
  .expandable-arrow::before,
  .expandable-arrow::after {
    background-color: grey;
  }
  .navbar-link-div:hover .expandable-arrow::before {
    transform: rotate(-15deg);
  }
  .navbar-link-div:hover .expandable-arrow::after {
    transform: translateX(14px) rotate(15deg);
  }
}
