@font-face {
  font-family: sora;
  src: url(/static/Sora_font.ttf);
}

* {
  font-family: sora;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* global variables */
:root {
  /* --mainColor: #79b3d2;
  --lightColor: #b7d6e7;
  --darkColor: #4797c1;
  --gray: #c0c0c0;
  --relatedColor: #e2725b */

  --mainColor: #347f6d ;
  --lightColor: #419f88;
  --veryLightColor: #a4cfc2;
  --hintColor: #dde9e542;
  --darkColor: #2a6657;
  --veryDarkColor:#192c26;
  --gray: #5a5a5a;
  --lightGray: #e1e2e1;
  --relatedRed: #cd5c5c;
  --messageBlue: #abbcfe;
  --messageGray: #c5c5c8;

}

/* located in baseblocks.html */
#page_wrapper {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
  background-color: white;
}

#logo-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 45px;
  box-shadow: rgb(3 27 78 / 10%) 0 2px 4px;
  background-color: white;
  z-index: 100;
}

#navbar-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 85px;
  
  position: fixed;
  z-index: 100;
  bottom: -1px;
}

#navbar-spacer {
  height: 85px;
  width: 100%;
  
}

#navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
}

/* placeholder */
#navbar-logo {
  margin-top: 2px;
}
svg {
  width: 70vw;
  height: 42px;
}

#svgGroup {
  stroke: #898989;
  stroke-width: 0.25mm;
  fill: #898989;
}
#logo-cursor {
  stroke: black;
  fill: black;
}
.logo-braces {
  stroke: rgb(137 137 137);
  fill: rgb(137 137 137);
  position: relative;
  opacity: 0;
}
.logo-parenthesis {
  stroke: var(--veryDarkColor);
  fill: var(--veryDarkColor);
  opacity: 0;
}
.logo-letter {
  stroke: var(--darkColor);
  fill: var(--darkColor);
  opacity: 0;
}

#navbar-link-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  border-radius: 20px 20px 0px 0px;
  box-shadow: rgb(3 27 78 / 10%) 0 2px 4px;
  background: #dde9e5;
  background: linear-gradient( 
    45deg, #dde9e5 0%, #dde9e5 15%, var(--veryLightColor) 75%, var(--lightColor) 100% );
  }

#navbar-link-container.show {
  transform: translate(0);
}
.navbar-link-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  user-select: none;
  cursor: pointer;
  position: relative;
  transition: margin 0.5s ease;
  will-change: margin;
  margin: 5px 0px 10px 0;
}

.navbar-icon {
  display: block;
  width: 40px;
  height: auto;
  margin-bottom: 2px;
}
.navbar-link-label {
  font-size: 10px;
  user-select: none;
}
.expandable-arrow {
  position: absolute;
  width: 50px;
  height: 5px;
  top: 7vh;
  left: 115px;
}

.expandable-arrow::before,
.expandable-arrow::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 2px;
  background-color: #a5dac8;
  transition: transform 0.5s ease;
  will-change: transform;
}
.expandable-arrow::before {
  transform: rotate(15deg);
}
.expandable-arrow::after {
  transform: translateX(14px) rotate(-15deg);
}
.expandable-arrow.show::before {
  transform: rotate(-15deg);
}
.expandable-arrow.show::after {
  transform: translateX(14px) rotate(15deg);
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    svg {
        width: 370px;
        height: 42px;
    }

  #navbar-link-container {
    flex-direction: row;
    background: none;
    position: relative;
    transform: translate(0);
    top: 0px;
  }
  #navbar-burger {
    display: none;
  }
  .navbar-link-div {
    height: 72px;
    align-self: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 0px 5px;
    transition: none;
  }
  .navbar-link-div:hover {
    background: #dae4e1;
    background: linear-gradient(      0deg,   white 15% ,   #dae4e1 75%,  var(--veryLightColor) 100%    );
    cursor: default;
  }


  .navbar-link-div:hover .navbar-sub-link-div {
    display: flex;
    opacity: 1;
  }

  .expandable-arrow {
    top: 54px;
  }
  .expandable-arrow::before,
  .expandable-arrow::after {
    background-color: grey;
  }
  .navbar-link-div:hover .expandable-arrow::before {
    transform: rotate(-15deg);
  }
  .navbar-link-div:hover .expandable-arrow::after {
    transform: translateX(14px) rotate(15deg);
  }
}
